@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Montserrat:wght@100;500;800;900&display=swap');
.mainHeading{
    font-size:"60px";
    color:#002A4C;
}
.mainDiv{
    font-family: 'Montserrat', sans-serif;

}
.subHeading{
    color:#65af4e
}
.callDiv{
    font-weight: 800;
    font-size: 18px;
    color: #002A4C;
}


